<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MedicalLotEntitiesModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;D:\Facultate-an 3\Medii de programare si dezvoltare\Proiect-1\MedicalLot.mdf&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>